*
	{
		margin: 0;
		padding: 0;
	}

section
	{
		width: 60%;
		height: 60%;
		padding: 5%;
		background-color: red;
		margin: 5% auto;
	}

article
	{
		width: 60%;
		height: 40%;
		padding: 5%;
		background-color: blue;
		margin: 5% auto;
	}

aside
	{
		width: 60%;
		height: 20%;
		padding: 5%;
		background-color: green;
		margin: 5% auto;
	}

img, video
	{
		width: 100%;
	} 