*
	{
		margin: 0;
		padding: 0;
	}

header
	{
		background-color: rgba(255,150,0,1);
		padding: 3% 2%;
		text-align: center; 
	}

nav 
	{
		background-color: rgba(255,150,0,0.5);
	}

a
	{
		width: 49.7%;
		display: inline-block;
		text-align: center;
		padding: 1.5% 0;
		text-decoration: none;
		color: white;
		font-size: 2em;
	}

article
	{
		margin: 4%;
		background-color: rgba(255,150,0,0.2);
		padding: 2%;
	}

h2
	{
		color: white;
		margin: 2%;
	}