*
	{
		margin: 0;
		padding: 0;
	}

header
	{
		background-color: rgba(255,150,0,1);
		padding: 3% 2%;
		text-align: center; 
	}

nav 
	{
		background-color: rgba(255,150,0,0.5);
	}

a
	{
		width: 49.7%;
		display: inline-block;
		text-align: center;
		padding: 1.5% 0;
		text-decoration: none;
		color: white;
		font-size: 2em;
	}

article
	{
		display: inline-block;
		width: 60%;
		margin: 2% 0 0 2%;
		background-color: lightblue;
		padding: 1%;
	}

aside
	{
		display: inline-block;
		width: 30%;
		margin: 2% 0 0 2%;
		background-color: lightblue;
		padding: 1%;
	}