*
	{
		margin: 0;
		padding: 0;
		transition: 1s;
	}

section > img
	{
		width: 400px;
		height: 300px;
	}

section
	{
		height: 300px;
		width: 400px;
		overflow: hidden;
		margin: auto;
	}

.oculto
	{
		height: 0;
		width: 0;
		opacity: 0;
	}